* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(45deg, rgb(182, 106, 243), rgb(63, 136, 136));
    height: 100vh;
}

h1 {
    margin: 40px 0;
    color: rgb(250, 223, 223)
}

.calculator {
    background-color: rgba(40, 78, 104, .5);
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 40px;
}

.display {
    background-color: rgba(11, 1, 63, 0.5);
    color: white;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 3em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5px;
    flex-wrap: wrap;
    word-wrap: break-word;
    word-break: break-all;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    width: 100%;
}

.buttons-row {
    display: flex;
    justify-content: space-evenly;
}

.button {
    width: 105px;
    height: 50px;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.5);
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.clear {
    flex: 2;
    background-color: rgba(216, 2, 2, 0.5);
}

.clear:hover {
    background-color: rgba(216, 2, 2, 0.8);
}

.zero {
    flex: 2;
}

.operator {
    background-color: rgba(207, 132, 167, 0.5);
}

.operator:hover {
    background-color: rgba(207, 132, 167, 0.9);
}

#equals {
    background-color: rgba(198, 45, 218, 0.5);
}

#equals:hover {
    background-color: rgba(198, 45, 218, 0.9);
}
